<!DOCTYPE html>
<html th:replace="~{fragment/admin-layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">



<main style="margin-top:5rem">
    <!-- container -->
    <div class="container">
    <!-- row -->
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="card-body p-6">
                        <!-- table -->
                        <table class="table mb-6 border fs-5" style="width:80rem">
                            <tbody>
                            <tr>
                                <td class="table-success fw-bold" style="width: 15%; background-color:#D5EED1">ID</td>
                                <td>10</td>
                                <td class="table-success fw-bold" style="width: 15%; background-color:#D5EED1">상태</td>
                                <td>게시</td> 
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">사업자 등록번호</td>
                                <td>123-45-67890</td>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">사업자명</td>
                                <td>우도환</td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">등록일</td>
                                <td>2024/12/12</td>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">수정일</td>
                                <td>2024/12/12</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">식당 분류</td>
                                <td>다이어트 , 샐러드</td>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">식당 이름</td>
                                <td>샐러디 안양점</td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">주차 가능 여부</td>
                                <td colspan="4">주차 가능</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">제공 서비스 </td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border">글루텐프리 메뉴</div>
                                    <div class="badge text-bg-light border">단체 이용 가능</div>
                                    <div class="badge text-bg-light border">무선 인터넷</div>
                                    <div class="badge text-bg-light border">포장</div>
                                    <div class="badge text-bg-light border">배달</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">분위기</td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border">활기찬</div>
                                    <div class="badge text-bg-light border">트렌디한</div>
                                </td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">매장 사진</td>
                                <td colspan="4">
                                    <img src="/assets/images/restaurant/salardy_dache.jpeg" style="width:10rem;height:10rem">
                                    <img src="/assets/images/restaurant/umm/umm3.jpeg" style="width:10rem;height:10rem">
                                </td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="background-color:#D5EED1">음식 종류</td>
                                <td colspan="4">
                                </td>
                            </tr>





                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-secondary me-2" style="border-radius: 5%;">뒤로</button>
                            <button type="button" class="btn btn-outline-danger" style="border-radius: 5%;">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



</html>