<!DOCTYPE html>
<html th:replace="~{fragment/admin-layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">



<main style="margin-top:5rem">
    <!-- container -->
    <div class="container">
    <!-- row -->
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="card-body p-6">
                        <!-- table -->
                        <table class="table mb-6 border fs-5">
                            <tbody>
                            <tr>
                                <td class="table-secondary fw-bold" style="width: 15%;">ID</td>
                                <td>10</td>
                                <td class="table-secondary fw-bold" style="width: 15%;">상태</td>
                                <td>게시</td> 
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">작성자</td>
                                <td>뷰리풀</td>
                                <td class="table-secondary fw-bold">작성일</td>
                                <td>2024-11-12</td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">식당명</td>
                                <td>다켄씨엘</td>
                                <td class="table-secondary fw-bold">별점</td>
                                <td>5점</td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">내용</td>
                                <td colspan="4">너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요 너무 맛있어요</td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">태그</td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border">분위기가 좋아요</div>
                                    <div class="badge text-bg-light border">재료가 신선해요</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">사진</td>
                                <td colspan="4">
                                    <img src="../assets/images/products/product-img-18.jpg" alt="">
                                    <img src="../assets/images/products/product-img-17.jpg" alt="">
                                    <img src="../assets/images/products/product-img-15.jpg" alt="">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-secondary me-2" style="border-radius: 5%;">뒤로</button>
                            <button type="button" class="btn btn-outline-danger" style="border-radius: 5%;">숨기기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



</html>